body{
	font-family: 'Open Sans',cursive;
	margin: 0;
}

.logo-image{
	width: 150px;
}

.logo{
	display: flex;
	margin-left: 100px;
	padding-top: 10px;
    
}

.header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid whites;
    
}

.header-buttons{
	padding-top: 60px;
	padding-right: 50px;
}
.the-1-section{
    height: 750px;
}

.the-1-section1{
    height: 500px;
    background-size: cover;
    background-image: url(../images/business-office.jpg);
}

a{
    color: white;
}

.center-of-1-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
}


.button-of-1-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descr-of-btn-of-1-section{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.the-2-section{
    height: 450px;
    display: flex;
}

.office-workers1{
    width: 380px;
    height: 400px;
    background-image: url(../images/office-workers1.webp);
    background-size: cover;
    border-right: 2px solid white;
}

.office-worker1{
    width: 380px;
    height: 400px;
    background-size: cover;
    background-image: url(../images/office-worker1.webp);
    border-right: 2px solid white;
}

.office-workers2{
    background-image: url(../images/office-workers2.jpg);
    width: 380px;
    height: 400px;
    background-size: cover;
    border-right: 2px solid white;
    
}

.office-workers3{
    background-image: url(../images/office-workers3.jpg);
    width: 380px;
    height: 400px;
    background-size: cover;
}

.descr-of-2-section{
    display: flex;
    justify-content: space-around;
}

.descr-of-2-section01{
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
    height: 250px;
}

.the-3-section{
    height: 610px;
    display: flex;
}


.main-image-of-3-section{
    background-image: url(../images/conference-room.jpg);
    background-size: cover;
    width: 700px;
    height: 600px;
}

.five-stars{
    width: 300px;
    height: auto;
    margin-top: -50px;
}

.sub-main-descr-of-3-section{
    margin: 0;
}
.main-descr-of-3-section{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    justify-content: center;
}

.the-4-section{
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.main-image-of-4-section{
    background-image: url(../images/nature.jpg);
    background-size: cover;
    width: 700px;
    height: 600px;
}

.main-descr-of-4-section{
    width: 600px;
    padding-left:50px;
    align-items: center;
    display: flex;
}

.the-5-section{
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.main-image-of-5-section{
    background-image: url(../images/office-home.jpg);
    background-size: cover;
    width: 700px;
    height: 600px;

}

.main-descr-of-5-section{
    width: 600px;
    align-items: center;
    display: flex;
}

.button-of-a-main-page{
    margin-top: 50px;
	height: 300px;
	background: rgb(62, 62, 62);
	display: flex;
	justify-content: space-around;
    color: white;
}

.button-of-a-main-page-part1{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.logo-payment{
	width: 300px;
	height: auto;
}