body{
    font-family: 'Open Sans',cursive;
	margin: 0;
}

.section-1{
    height: 1000px;
    
}

.main-of-1-section{
    background-image: url(../images/world-map.jpg);
    height: 700px;
    background-size: cover;
    color: white;
}

.header-of-1-section{
    display: flex;
	justify-content: space-between;
	border-bottom: 1px solid whites;
    color: white;
}

.header-buttons{
	padding-top: 60px;
	padding-right: 50px;
	color:white;
}
a{
    color: white;
}

.logo-image{
	width: 150px;
}

.logo{
	display: flex;
	margin-left: 100px;
	padding-top: 10px;
}

.center-of-1-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-1{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.botton-of-1-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.descr-of-botn-of-1-section{
    margin: 0 50px 0 50px;
}